@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --font-sora: "SoraRegular";
  --font-sora-medium: "SoraMedium";
  --font-sora-bold: "SoraBold";
  --font-sora-semiBold: "SoraSemiBold";
  --color-primary: #c67c4e;
  --color-primary-foreground: #ffffff;
  --color-bg: #f9f9f9;
  --color-text: #2f2d2c;
  --color-text-gray: #9b9b9b;
  --color-text-gray2: #2f4b4e;
  --font-sans: "Sora";
}
